<div class="container mt-4">
  <h2 class="text-success mb-4">Espace Administrateur</h2>

  <div class="btn-group text-end mb-4">
    <button class="btn btn-outline-success" [class.active]="activeTab === 'utilisateurs'" (click)="switchTab('utilisateurs')">
      Gestion des utilisateurs
    </button>
    <button class="btn btn-outline-success" [class.active]="activeTab === 'stats'" (click)="switchTab('stats')">
      Statistiques
    </button>
  </div>

  <div class="content">
    @if (activeTab === 'utilisateurs') {
      <app-gestion-utilisateur />
    }
    @if (activeTab === 'stats') {
      <app-statistiques />
    }
  </div>
</div>
