<div>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4>Liste des utilisateurs</h4>
    <button class="btn btn-outline-success" (click)="creerEmploye()">+ Créer un employé</button>
  </div>

  <table class="table table-striped">
    <thead class="table-success">
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Rôle</th>
      <th>Statut</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      @for (user of utilisateurs(); track user.utilisateurId) {
        <tr>
          <td>{{ user.prenom }} {{ user.nom }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <span class="badge" [ngClass]="user.suspendu ? 'bg-danger' : 'bg-success'">
              {{ user.suspendu ? 'Suspendu' : 'Actif' }}
            </span>
          </td>
          <td>
            <button class="btn btn-sm btn-outline-secondary" (click)="toggleSuspension(user)">
              {{ user.suspendu ? 'Réactiver' : 'Suspendre' }}
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
