<header>
  <a routerLink="/" class="logo">EcoRide</a>

  <button  class="burger" [class.open]="menuOpen" (click)="toggleMenu()" aria-label="Menu">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <ul class="nav-links" [class.open]="menuOpen">
    <li><a routerLink="/" (click)="closeMenu()">Accueil <span class="arrow">›</span></a></li>
    <li><a routerLink="/covoiturages" (click)="closeMenu()">Covoiturages <span class="arrow">›</span></a></li>
    @if (!isAuthenticated()) {
      <li><a routerLink="/connexion" (click)="closeMenu()">Connexion <span class="arrow">›</span></a></li>
      <li><a routerLink="/inscription">Inscription</a></li>
    } @else {
      <li><a (click)="handleLogout()">Déconnexion <span class="arrow">›</span></a></li>
    }
    <li><a routerLink="/inscription" (click)="closeMenu()">Contact <span class="arrow">›</span></a></li>
    @if (auth.isAuthenticated()) {
      <li>
        <a routerLink="/espace-utilisateur">
          <i class="bi bi-person-circle me-1"></i>
          {{ auth.userPseudo() }}
        </a>
      </li>
      @if (auth.userRole() === 'ROLE_EMPLOYE') {
        <li>
          <a routerLink="/employe">
            <i class="bi bi-person-circle me-1"></i>
            Espace Employé</a>
        </li>
      }
    }
  </ul>


</header>


<main>
  <router-outlet></router-outlet>
</main>

<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-brand">
      <h2>EcoRide</h2>
      <p>Voyagez de manière écologique et économique.</p>
    </div>

    <div class="footer-links">
      <h3 style="color: inherit; font-size: inherit">Liens utiles</h3>
      <ul>
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/rides">Covoiturages</a></li>
        <li><a routerLink="/about">À propos</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="footer-social">
      <h3 style="color: inherit; font-size: inherit">Suivez-nous</h3>
      <div class="icons">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-twitter-x"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 EcoRide. Tous droits réservés.</p>
    <p>
      Contactez-nous :
      <a href="mailto:contact@ecoride.fr">contact&#64;ecoride.fr</a> |
      <a routerLink="/mentions-legales">Mentions légales</a>
    </p>
  </div>
</footer>

