/* You can add global styles to this file, and also import other style files */
@use '@coreui/coreui/scss/coreui' as * with (
  $enable-deprecation-messages: false
);

// Import Chart.js custom tooltips styles
@use '@coreui/chartjs/scss/coreui-chartjs' as *;

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #2b2e4a;
  background-color: #fff;
  font-size: 16px;
  margin: 0;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main {
  flex: 1;
}


h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #2b2e4a;
}

button, .btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

#etoiles .star {
  font-size: 1.8rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease;
  &.hovered,
  &.selected {
    color: #FFD700;
  }
  svg {
    fill: currentColor !important;
  }
}
